{{!< layout}}
<div class="wrapper">
  <form id="custom-form">
        {{#each result}}
            <h3 class="headers">{{this.ownerTitle}}</h3>
            {{#each this.fieldContent}}
                <div>
                    <input type="checkbox" name="value" value="{{this._id}}" class="checkboxes">
                    <label for="value" class="normal-text">{{this.value}}</label>
                </div>
            {{/each}}
        {{/each}}
        <input type="hidden" value="{{id}}" id="hidden-input">
        <button type="submit" class="aui-button aui-button-primary all-buttons">Save</button>
    </form>
</div>

<script>
  const pageUrl = window.location.href;
  const baseUrl = `${pageUrl.split('ngrok.io')[0]}ngrok.io`;
  const id = document.querySelector('#hidden-input').value;
  const url = `${baseUrl}/issue/${id}`;
  
  const form = document.querySelector('#custom-form');
  const checkboxes = document.querySelectorAll('input[type=checkbox]');
  let allInputs = [];
  
  // formElems.forEach(element => {
  //   if(element.name.includes('input')){
  //     allInputs.push(element);
  //   }
  // });
  
  form.addEventListener('submit', async function (e) {
    e.preventDefault();
    // console.log(formElems);
    
    for (let checkbox of checkboxes) {
      if(checkbox.checked){
        allInputs.push(checkbox.value);
      }
    }
    
    console.log(allInputs);
    
    // fetch(url, {
    // method: 'POST',
    // body: new FormData(form)
    // })
    // .then(response => response.json())
    // .then(data => console.log(data))
    // .catch(error=> {
    //   //handle error
    //   console.log(error);
    // });
  });

</script>
    
