{{!< layout}}
<div class="wrapper">
  <form action="/issue/{{id}}" method="POST">
        {{#each result}}
            <h3 class="headers">{{this.ownerTitle}}</h3>
            {{#each this.fieldContent}}
                <div>
                    <input type="checkbox" name="value" value="{{this._id}}">
                    <label for="value" class="normal-text">{{this.value}}</label>
                </div>
            {{/each}}
        {{/each}}
        <button type="submit">Submit</button>
    </form>
</div>
    
