{{!< layout}}
<div class="wrapper">
  <form action="/issue/{{id}}" method="POST">
        {{#each result}}
            <h3 class="headers">{{this.ownerTitle}}</h3>
            {{#each this.fieldContent}}
                <div>
                    <input type="checkbox" name="value" value="{{this._id}}">
                    <label for="value" class="normal-text">{{this.value}}</label>
                </div>
            {{/each}}
        {{/each}}
        <button type="submit" class="aui-button aui-button-primary all-buttons">Save</button>
    </form>
</div>

<script>
  const params = {
    
  }

  const response = await fetch('url', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(params)
  });

  const data = await response.json();
</script>
    
